* {
    font-family: "Poppins", sans-serif;
}

/*homepage why buy4me section css */

.why-me-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*setting page custom css*/

.setting-page-container > * {
    font-family: "Roboto", sans-serif !important;
}

.setting-page-container h3 {
    font-family: "Roboto", sans-serif !important;
}

.setting-page-container .col-sm-8 input[type="text"],
.setting-page-container .col-sm-8 input[type="email"],
.setting-page-container .col-sm-8 input[type="telephone"] {
    background-color: white !important;
    padding: 20px 15px !important;
    font-size: 17px !important;
    /*border: solid 2px rgba(0,0,0,0.2);*/
    border-radius: 5px;
}

.setting-page-container .col-sm-8 textarea {
    background-color: white !important;
    padding: 20px 15px !important;
    font-size: 17px !important;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.setting-page-container .col-sm-8 textarea:focus {
    border: 2px solid #4fc1f0;
}

/*all button settings starts here*/

.setting-page-container .col-sm-8 button {
    padding: 1rem;
    background-color: #f7b235;
    border: solid 1px #cc9127;
    color: white;
    transition: all ease 0.2s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setting-page-container .col-sm-8 button:hover {
    background-color: #faa814;
    border: solid 1px #946106;
    box-shadow: 0 0 10px rgba(194, 194, 194);
}

.setting-page-container .col-sm-8 button:focus {
    /*box-shadow:0 0 5px #de9718;*/
    /*border: solid 1px #de9718;*/
    background-color: #faa814;
    border: solid 1px #946106;
    box-shadow: 0 0 10px rgba(194, 194, 194);
}

/*all button settings ends here*/

.content-container {
    display: none;
    border: solid 1px #b5b5b5;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.content-container-heading {
    color: black !important;
}

.menu-list.settings-list {
    cursor: pointer;
}

.menu-list.settings-list.active {
    background-color: rgba(239, 144, 14, 0.4);
    font-weight: bold;
    border: solid 2px rgba(239, 144, 14, 0.9);
}

.settings-list {
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 35px;
    padding-right: 16px;
    font-size: 20px;
    transition: all ease 0.3s;
}

.settings-list:hover {
    background-color: rgba(239, 144, 14, 0.2);
}

.profile-image-container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #d4d4d4;
    padding-bottom: 2rem;
    padding-left: 16px;
    padding-right: 16px;
}

.profile-image-container {
    width: 150px;
    height: 150px;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.upload-container small em {
    color: rgba(0, 0, 0, 0.5);
}

.upload-container #upload-btn {
    padding: 1.5rem 8rem;
}

.upload-container #upload-btn:hover {
    box-shadow: 0 0 10px rgba(194, 194, 194);
}

.profile-info-input-container #fname,
.profile-info-input-container #lname {
    display: block;
    width: 100%;
}

.change-password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change-email-container button.email-update-button,
.phone-number-container-main button.phone-update-button {
    padding: 1.2rem 4rem;
}

.account-del-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-del-container .account-del-text {
    padding: 1rem 0;
    padding-bottom: 5px;
    border-top: solid 1px #d4d4d4;
    cursor: pointer;
    transition: all ease 0.5s;
    width: 100%;
}

.account-del-container .account-del-text a {
    width: fit-content;
    border-bottom: solid 1px white;
}

.account-del-container .account-del-text a:hover {
    border-bottom: solid 1px #dc3545;
}

.notification-switch-container .form-check.form-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change-password-container button.send-button {
    padding: 1.5rem 4rem;
}

.change-email-container #emailinput {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 1rem;
}

.phone-number-container #phoneinput {
    /*width:100%;*/
    margin-top: 15px;
    margin-bottom: 1rem;
}

#wallet .wallet-balance-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#wallet .wallet-balance-container #top-up {
    padding: 1.3rem 4rem !important;
}

/*notification section css starts*/

#notification .notification-title {
    font-weight: bold;
    padding-bottom: 0.8rem;
    border-bottom: solid 1px #cfcfcf;
    margin-bottom: 1.5rem;
}

#notification .notification-container .notification-description {
    font-size: 17px;
}

#notification .notification-switch-container .tips-title {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

/*notification section css ends*/

/*profile page section starts here */

/*.profile-page{*/

/*    border:solid 2px red;*/

/*}*/

.profile-page > * {
    font-family: Arial, Helvetica, sans-serif;
}

.profile-page .product-description-review .description-review-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: solid 1px #d4d4d4;
}

.profile-page .product-description-review .description-review-title a {
    font-size: 2.7rem;
    text-transform: capitalize;
    color: #000;
}

.profile-page .product-description-review {
    border-radius: 25px;
    padding: 5px 15px !important;
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}

.profile-page .stars-container-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.profile-page .stars-container-main {
    margin-bottom: 1rem;
}

.profile-page .stars-container-main .stars-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.profile-page
    .stars-container-main
    .stars-container
    .stars
    i.fa-regular.fa-star {
    cursor: pointer;
}

.profile-page
    .stars-container-main
    .stars-container
    .stars
    i.fa-regular.fa-star:hover {
    color: #ffcd3c;
}

.profile-page .product-description-review .cancelation-line {
    margin: 2rem 0;
}

.profile-page .product-description-review .cancelation-line .status-btn {
    border-radius: 10px;
    margin-left: 1rem;
    position: relative;
}

.profile-page
    .product-description-review
    .cancelation-line
    .status-btn:hover
    .profile-page
    .product-description-review
    .pending-hover {
    display: block;
}

.profile-page .product-description-review .pending-hover {
    display: none;
    position: absolute;
    width: 250px;
    height: 200px;
    background-color: #363535;
    padding: 10px;
    border-radius: 20px;
    /*top:0px;*/
    /*left:0px;*/
}

.profile-page .product-description-review .pending-hover .pending-hover-text {
    color: white;
}

.profile-page .product-description-review .verified-phone-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0.8rem;
    background-color: #ededed;
    border-radius: 10px;
    margin: 2rem 0;
}

.profile-page .product-description-review .verified-phone-line .verified-info {
    margin-right: 2rem;
    padding-right: 2rem;
    border-right: solid 1px #b5b5b5;
}

.profile-page
    .product-description-review
    .verified-phone-line
    .check-icon-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1rem;
}

.profile-page .product-description-review .verified-phone-line .check-icon {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.profile-page .product-description-review .tab-pane .edit-profile-btn {
    display: flex;
    align-items: center;
    padding: 1.5rem 3rem;
    border-radius: 10px;
    background-color: transparent;
    transition: all ease 0.3s;
}

.profile-page .product-description-review .tab-pane .edit-profile-btn:hover {
    background-color: #357ebd;
}

.profile-page .product-description-review .tab-pane .edit-profile-btn a {
    color: #357ebd;
    padding: 32px 40px;
    background-color: transparent !important;
    transition: all ease 0.3s;
}

.profile-page .product-description-review .tab-pane .edit-profile-btn a:hover {
    color: white;
}

/*profile page section starts end */

/* Arti */

/* 10.2 Slider style of food */

/* .owl-carousel .owl-item .food-slider img {
    display: inline-block;
    width: inherit;
}

.food-slider {
    -moz-box-align: center;
    align-items: center;
    display: flex;
    position: relative;
}

.food-slider-content > p {
    color: #fff;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 26px auto 44px;
    width: 50%;
}

.food-slider-btn {
    background-color: #ecab10;
    border-radius: 50px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 14px 40px 12px;
    text-transform: uppercase;
}

.food-slider-btn:hover {
    box-shadow: 0 10px 35px -7px rgba(236, 171, 16, 0.9);
    color: #fff;
}

.wrapper-padding-6 .container-fluid {
    padding: 0 236px 0 202px;
} */

/* 10.3 Product style of food */

.popular-product-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-title-10 > h2 {
    color: #383838;
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: 21px;
}

.section-title-10 > p {
    color: #666666;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.3px;
    margin: 0 auto;
    width: 50%;
    font-weight: 400;
}

.single-popular-product > h3 {
    color: #1a1a1a;
    font-size: 36px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    letter-spacing: 0.5px;
}

.single-popular-product > h3 a {
    color: #1a1a1a;
}

.single-popular-product > h3 a:hover {
    color: #ecab10;
}

.single-popular-product > p {
    color: #1a1a1a;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 0.3px;
    margin: 22px 0 18px;
    padding: 0 79px;
}

.pizza-old-price {
    color: #666666;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0 7px;
    text-decoration: line-through;
}

.pizza-new-price {
    color: #1a1a1a;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    margin: 0 7px;
}

.single-popular-product a > img {
    margin-bottom: 29px;
}

.single-popular-product {
    position: relative;
}

.food-border-1::before {
    background-color: #ede9eb;
    content: "";
    height: 560px;
    margin: 0 auto;
    position: absolute;
    right: -15px;
    top: 3px;
    width: 1px;
}

.food-border-2::after {
    background-color: #ede9eb;
    content: "";
    height: 560px;
    margin: 0 auto;
    position: absolute;
    right: 1px;
    top: 3px;
    width: 1px;
}

/* arti */

.menu-product-content > h4 {
    border-bottom: 2px dashed #cccccc;
    color: #353535;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
    margin-bottom: 12px;
    padding-bottom: 16px;
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* arti */

.container1 {
    position: relative;
    right: 0;
    /* margin: 20px; */
    max-width: 450px;
    padding: 18px;
    background-color: white;
    float: right;
}

/* Full-width input fields */

input[type="text"],
input[type="text"],
input[type="date"] {
    width: 100%;
    
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus,
input[type="text"]:focus,
input[type="date"]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit button */

.btn1 {
    background-color: #04aa6d;
    color: white;
    /* padding: 16px 20px; */
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn1:hover {
    opacity: 1;
}

/* Set a style for the create order */

.form-control1 {
    width: 40%;
    height: 50px;
    margin-left: -200px;
    margin-top: 72px;
    border: 1px solid gray;
    border-radius: 4px;
}

.form-control1 input {
    float: left;
    border: none;
    background-color: white;
    color: darkgray;
    font-size: 18;
}

.button1 {
    margin-left: 650px;
    margin-top: -48px;
    height: 50px;
    color: white;
    border-radius: 4px;
    width: 115px;
    margin-bottom: 32px;
    background-color: #ffc107;
    padding-top: 11px;
    font-size: 16px;
}

.button1 input {
    color: white;
    text-align: center;
}

.button1 a {
    color: #fff;
}

.button1 a:hover {
    color: #fff;
}

/* 7.2 Product style of furniture */

.wrapper-padding-3 .container-fluid {
    padding: 0 275px;
}

.section-title-6-1 > h2 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 29px;
}

.section-title-6-1 > p {
    color: #666666;
    letter-spacing: 0.5px;
    margin: 0 auto;
    width: 46%;
}

.funiture-product-content {
    margin-top: 26px;
}

.funiture-product-content > h4 {
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.funiture-product-content > h4 a {
    color: #383838;
}

.funiture-product-content > h4 a:hover {
    color: #050035;
}

.funiture-product-content > span {
    color: #383838;
    letter-spacing: 0.5px;
}

.popular-product-active.owl-carousel .owl-nav div,
.popular-product-active-2.owl-carousel .owl-nav div {
    left: -75px;
    position: absolute;
    top: 39%;
}

.popular-product-active.owl-carousel .owl-nav div.owl-next,
.popular-product-active-2.owl-carousel .owl-nav div.owl-next {
    left: auto;
    right: -76px;
}

.discount-img > img {
    width: 100%;
}

.discount-img {
    position: relative;
}

.discount-img::before {
    background-color: #eafaff;
    content: "";
    height: 500px;
    left: 0px;
    position: absolute;
    top: -70px;
    width: 500px;
    z-index: -1;
}

.blog-img a img {
    width: 100%;
}

.discount-details-wrapper > h5 {
    border-bottom: 2px solid #9b9b9b;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-bottom: 1px;
    text-transform: uppercase;
}

.discount-details-wrapper > p {
    color: #999999;
    letter-spacing: 0.5px;
    margin: 17px 0 21px;
    width: 65%;
}

.discount-details-wrapper > h2 {
    color: #383838;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 46px;
    margin: 0;
}

.discount-details-wrapper > p.discount-peragraph {
    color: #666666;
    margin: 32px 0 41px;
    width: 83%;
}

.discount-btn {
    border: 1px solid #666666;
    border-radius: 50px;
    color: #666666;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    padding: 12px 30px;
    text-transform: uppercase;
}

.discount-btn:hover {
    border: 1px solid #000;
    color: #fff;
}

.btn-hover.discount-btn::before {
    border-radius: 50px;
}

.discount-details-wrapper {
    padding-left: 30px;
    padding-top: 97px;
}

.discount-wrapper {
    position: relative;
}

.discount-wrapper > img {
    width: 100%;
}

.discount-content {
    padding: 20px 250px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

.discount-content > h2 {
    color: #998e7e;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 58px;
    margin-bottom: 17px;
}

.discount-content > a {
    border-bottom: 2px solid #cccccc;
    color: #999999;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 17px;
    text-transform: uppercase;
}

.discount-content > a:hover {
    border-bottom: 2px solid #666;
    color: #666;
}

.product-img-1 a img {
    width: 100%;
}

.product-rating-5 {
    margin-top: 10px;
}

.product-rating-5 i {
    color: #b7b7b7;
    font-size: 18px;
    margin: 3px;
}

.product-rating-5 i.black {
    color: #111111;
}

.section-title-7 > h2 {
    color: #383838;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.section-title-7 > p {
    color: #666666;
    letter-spacing: 0.5px;
    margin: 0 auto 48px;
    width: 33%;
}

.view-all-product {
    position: relative;
}

.view-all-product > a {
    border: 1px solid #383838;
    border-radius: 50px;
    color: #383838;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 14px 30px 12px;
    text-transform: uppercase;
}

.view-all-product > a:hover {
    color: #fff;
    background-color: #383838;
}

.view-all-product > a::before {
    background-color: #f1f1f1;
    content: "";
    height: 1px;
    left: 360px;
    position: absolute;
    top: 19px;
    width: 438px;
}

.view-all-product > a::after {
    background-color: #f1f1f1;
    content: "";
    height: 1px;
    right: 360px;
    position: absolute;
    top: 19px;
    width: 438px;
}

.wrapper-padding-4 .container-fluid {
    padding: 0 305px;
}

.containerwhybuyforme {
    max-width: 950px;
}

.services-img img {
    max-width: 80px;
}

.services-content h4 p {
    padding: 0px 10px;
}

/* Image banner style */

.containerimage {
    position: relative;
    text-align: center;
    font-size: medium;
    color: #eafaff;
}

.mydeivtest {
    background-image: url("public/frontend/custom/img/Banner Final - 1.jpg");
    width: 100%;
    height: 70vh;
}

.bottom-left {
    position: absolute;
    top: 87%;
    left: 32%;
}

.bottom-right {
    position: absolute;
    top: 87%;
    right: 35%;
}

.text-left {
    position: absolute;
    top: 70%;
    left: 53%;
    font-size: 20px;
    font-weight: 500;
}

.text-right {
    position: absolute;
    top: 70%;
    right: 56%;
    font-size: 20px;
    font-weight: 500;
}

.btn-1 {
    /*background-color: #383838;*/
    background-color: #facc02 !important;
    border-radius: 50px;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 17px 40px 16px;
    text-transform: uppercase;
    z-index: 99;
    font-family: "Poppins", sans-serif;
}

.btn-1:hover {
    background-color: #ffc107;
}

/* How do we work style  */
